.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    /* background-color: #bbd817 */
    background-image: url('../../../src/calender3.jpg');
    color: black;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  
  
  @media (max-width: 820px) {
    .expense-date__day {
      font-size: 1rem;
      font-weight: bold;
    }
    
    .expense-date__month {
      font-size: 1rem;
      font-weight: bold;
    }
    
    .expense-date__year {
      font-size:  1rem;
      font-weight: bold;
    }
  }